# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Prometheus temporary metrics
observability/prometheus/dq_metrics.prom
